node_modules/
thirdapp/node_modules/
mongo/node_modules/
nodeApp/node_modules/
secondapp/node_modules/
practicaGit.docx
PracticaGit-LegorretaRodriguez.pdf
Practica/node_modules/
Practica2/node_modules/
Fragmentacion/node_modules/
18nov/node_modules/


practica-servicios-web/node_modules/
.env
